.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1055px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 66px 0 0 730px;
}

.u-section-1 .u-link-1 {
  text-transform: uppercase;
  padding-bottom: 2px;
  letter-spacing: 1px;
  border-style: solid;
  width: 181px;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  min-height: 734px;
  grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px);
  height: auto;
  grid-gap: 10px;
  margin: 36px auto 16px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 238px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -212px 30px 0 274px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0 274px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0 274px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 238px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -212px 30px 0 274px;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0 274px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0 274px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-3 {
  width: 238px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -212px 30px 0 274px;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0 274px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0 274px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-4 {
  width: 238px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: -212px 30px 0 274px;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0 274px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 20px 0 0 274px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 530px;
  }

  .u-section-1 .u-list-1 {
    min-height: 720px;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1271px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 310px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 148px;
    height: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -125px;
    margin-right: auto;
    margin-left: 214px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 214px;
  }

  .u-section-1 .u-image-2 {
    width: 148px;
    height: 170px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -125px;
    margin-right: auto;
    margin-left: 214px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 214px;
  }

  .u-section-1 .u-image-3 {
    width: 148px;
    height: 170px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -125px;
    margin-right: auto;
    margin-left: 214px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 214px;
  }

  .u-section-1 .u-image-4 {
    width: 148px;
    height: 170px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -125px;
    margin-right: auto;
    margin-left: 214px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 130px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 184px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 184px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 184px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 184px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 184px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 184px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 184px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 184px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 184px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 184px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 184px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1177px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -156px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 168px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 168px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -156px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 168px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 168px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -156px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 168px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 168px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -156px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 168px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 168px;
  }
}